/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root{
   --clr-black: #000;
   --clr-grey4: #343a40;
   --clr-primary:  #f25d58;
   --clr-secondary: #511e1b;
   --clr-tertiary: #a33113;

   --font-brand: 'Playfair', serif;
   --font-regular: 'Inter', sans-serif;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   /* makes fz = 10px */
   font-size: 62.5%;
}

body{
   font-family: var(--font-regular);
   font-weight: 400;
   line-height: 1.6;
   font-size: 1.4rem;
}

.navigation{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5%;
   height: 7rem;
   color: var(--clr-secondary);
   text-transform: capitalize;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

.logo {
   font-size: 3.6rem;
   font-weight: 300;
   font-family: var(--font-brand);
}

.navigation__list{
   display: flex;
   gap: 4.8rem;
   list-style: none;
}

.navigation__link{
   text-decoration: none;
   color: var(--clr-secondary);
}

section{
   height: 100vh;
   background: #f7f7f7;
}

.hero{
   min-height: 100vh;
   display: grid;
   place-items: center;
   background-image: url('./images/bgBlur1.png');
   background-size: cover;
}

.textbox{
   display: flex;
   gap: 4.8rem;
   align-items: center;
   width: 70%;
}

.description {
   flex-basis: 50%;
}

.heading{
   color: #fff;
   margin-bottom: 1.8rem;
   display: inline-block;
}

.heading-main{
   font-size: 4.8rem;
   line-height: 1.2;
   margin-bottom: 1.2rem;
   text-transform: capitalize;
}

.heading-focus{
   font-size: 6.2rem;
   background: -webkit-linear-gradient(45deg, #511e1b, #f25d58);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.heading-sub{
   font-size: 1.6rem;
}

.cta{
   border: none;
   color: white;
   padding: 1.5rem 4rem;
   background-color: var(--clr-secondary);
   border-radius: 2.4rem;
   font-size: 1.8rem;
   text-transform: capitalize;
   transition: all 500ms ease-in-out ;
}

.cta:hover{
   translate: 0 -5px;
}

.img-box{
   display: flex;
   align-items: center;
   flex-basis: 45%;
}

.can-img{
   width: 100%;
   object-fit: cover;
   scale: 1.4;
}

.icon{
   display: inline-block;
   background-color: var(--clr-tertiary);
   color: white;
   padding: 1.2rem;
   border-radius: 50%;
}
